<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/2b4afe87-8bc5-4b75-867f-3e6a99ae6a28/resourcegroups/PruebasTrabajo/providers/Microsoft.ContainerRegistry/registries/PruebaCodigoNet</ContainerResourceId>
    <ContainerResourceName>PruebaCodigoNet</ContainerResourceName>
    <Subscription>Pase para Azure: patrocinio</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>pruebacodigonet.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <SCMUrl>https://pruebacodigonet.scm.azurewebsites.net/</SCMUrl>
    <ResourceId>/subscriptions/2b4afe87-8bc5-4b75-867f-3e6a99ae6a28/resourcegroups/PruebasTrabajo/providers/Microsoft.Web/sites/PruebaCodigoNet</ResourceId>
    <ResourceGroup>PruebasTrabajo</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://pruebacodigonet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>356fb9f7-1ce6-4f1a-bd35-d3e04f54f265</ProjectGuid>
    <TargetFramework>net5.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>